<h1>livros disponiveis</h1>
<div class="books-container">
  <a href="/">Adicionar livros</a>
  {{#each books}}
    <div>
      #{{this.id}}
      -
      <span class="bold">{{this.title}}</span>
      -
      <span>{{this.pageqty}} paginas</span>
    </div>
  {{/each}}
</div>